.sheet_1 {
  background-image: url('/assets/images/company-profiles/5/1.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_2 {
  background-image: url('/assets/images/company-profiles/5/2.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_3 {
  background-image: url('/assets/images/company-profiles/5/3.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_4 {
  background-image: url('/assets/images/company-profiles/5/4.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_5 {
  background-image: url('/assets/images/company-profiles/5/5.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_6 {
  background-image: url('/assets/images/company-profiles/5/6.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_7 {
  background-image: url('/assets/images/company-profiles/5/7.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_8 {
  background-image: url('/assets/images/company-profiles/5/8.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.sheet_9 {
  background-image: url('/assets/images/company-profiles/5/9.png?v=2');
  background-size: cover;
  padding: 0px !important;
  margin: 0px !important;
  position: relative !important;
}


.table-products
{
  width: 80%;
  margin: auto;
  position: relative;
  top: 160px;
}

.table-products td 
{
  height: 180px;
  vertical-align: middle;
  text-align: center;
}

.page-counter
{
  position: absolute;
  bottom: 50px;
  text-align: center;
  font-size: 14px;
  color: #4170b0;
  left: 50%;
}


th 
{
  text-align: center;
}